:root {
    --aside-bg: #1d1f20;
    --default-background: #181a1b;
    --bg-secondary: #252f3a;
    --color-purple: #8c7ae6;
    --color-blue: #17c0eb;
    --text-color: #e8e6e3;
}

@supports (--css: variables) {
    .theme--light {
        --aside-bg: #f7f7f7;
        --default-background: #FFF;
        --bg-secondary: #252f3a;
        --color-bg: #161b22;
        --color-purple: #8c7ae6;
        --color-blue: #17c0eb;
        --text-color: #000;
    }
}

* {
    scroll-behavior: smooth;
  }

html {
    line-height: 200%;
}

html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 300;
}


#app {
    height: 100%;
    overflow: hidden;
    display: flex;
}

h1 {
    display: block;
    font-size: 36px;
    line-height: 100%;
    margin-top: 24px;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    line-height: 100%;
}

h2 {
    font-size: 24px;
    line-height: 100%;
}

h2, h3, h4, h5 {
    margin: 0;
    font-weight: 400;
}

/* Basic reset */

img {
    max-width: 100%;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

a {
    color: var(--text-color);
    font-weight: 300;
}

a:visited {
    color: var(--text-color);
}

.app-aside {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 1rem;
    background-color: var(--aside-bg);
    background: var(--aside-bg);
    transition: all linear 0.2s;
}

.aside-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
    align-items: center;
}

.aside-nav__link {
    display: flex;
    margin-bottom: 16px;
    text-decoration: none;
    /* color: var(--text-color); */
    font-size: 1.2rem;
}

.aside-nav__link:hover {
    color: var(--color-blue)
}

.page {
    flex: 1;
    background: var(--default-background);
    background-color: var(--default-background);
    overflow-y: auto;
    padding: 0 16px;
    transition: all linear 0.2s;
}

main {
    height: 100%;
}


/* aside */

.img-perfil {
    border-radius: 50%;
    overflow: hidden;
    max-width: 280px;
}

.about {
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
    align-items: center;
}

.about-img__perfil {
    display: none;
}

@media (max-width: 576px) {
    .about-img__perfil {
        display: block;
    }
}

.about__title {
    font-size: 2rem;
}

.about__profile-description {
    /* color: var(--text-color); */
}
.about__profile-description p:last-child {
    margin-bottom: 0;
}


.layout--section {
    max-width: 728px;
    margin-right: auto;
    margin-bottom: 42px;
}

.codesandboxe-section {
    background: var(--bg-secondary);
    height: auto;
    padding: 3rem;
}

.list__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.list_new-tab-icon {
    margin-left: 0.625rem;
    font-size: 20px;
}

.list__title {
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s linear;
}

.list__title:hover {
    text-decoration: underline;
}



.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    margin-bottom: 16px;
}

.icon-box {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-left: 1rem;
}

.icon-box > p {
    margin: 4px;
    display: flex;
    align-items: center;
}

/* footer */

.app_footer {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: white;
    width: 100%;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: var(--aside-bg);
}

.app_footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-decoration: none;
}

.app_footer__icon {
    width: 24px;
    width: 34px;
    font-size: 34px;
}


.about__content p {
    margin: 0;
}

.about__content h2 {
    margin-bottom: 24px;
}

.about__content h3 {
    margin-top: 24px;
}


.app-header {
    display: flex;
    justify-content: flex-end;
}

.app-header>span {
    font-size: 48px;
}

header {
    position: relative;
}

.mode-icon-container {
    display: flex;
    position: relative;
    height: 100%;
    width: 40px;
}

.light_mode-icon,
.dark_mode-icon {
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}

.light_mode-icon {
    color: yellow;
    display: none;
}

.dark_mode-icon {
    color: darkgray;
}

.theme--light .dark_mode-icon {
    display: none;
}

.theme--light .light_mode-icon {
    display: block;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.skill-item P {
    margin: 0;
}

.skill-item span {
    padding: 4px;
    background: #ff000000;
    border-radius: 50%;
    border: 1px solid;
    margin-right: 4px;
    color: var(--color-blue);
}

.i-can-do h2, .i-can-do h3 {
    margin-top: 0;
    margin-top: 24px;
}

.my-articles h2 {
    margin-bottom: 24px;
}
