:root {
    --secondary-background: #ffffff;
    --default-background: #f1f3fb;
    --text-color: #1d1d1f;
    --gray: #6e6e73;
}

.headline {
    font-size: 36px;
}

@media (min-width: 734px) {
    .headline {
        font-size: 50px;
    }
}

.viewport-content {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .viewport-content {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .viewport-content {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .viewport-content {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .viewport-content {
        max-width: 1140px;
    }
}

.viewport-content-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--default-background);
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.section-intro {
    position: relative;
    padding: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-background);
}

.technologies__title {
    margin-top: 0;
    margin-bottom: 18px;
}

.technology-list {
    list-style: none;
    margin: 0;
}

.technology-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
}

.technology-item>p {
    margin: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.profile__img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.profile__title {
    font-weight: bold;
    margin: 18px 0 0 0;
}

.section-skills {
    padding-top: 96px;
    background-color: var(--secondary-background);
}

.section-skills__description {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 0;
}

.section-skills > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.skills {
    width: 85%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 18px;
    margin: auto;
}

.js {
    height: 100vh;
}

.skills__content {
    flex-basis: 400px;
    position: relative;
    overflow: hidden;
}

.skills__category {
    font-size: 28px;
}

.panel-text {
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 40px;
    opacity: 1;
}

.skills_imgs {
    flex-basis: 400px;
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 400px;
    display: none;
}

.panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 400px;
    height: 400px;
    background-image: url("./assets/css.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel.js {
    z-index: auto;
    background-image: url("./assets/js.jpg");
}

.panel.css {
    z-index: auto;
    background-image: none;
    background-image: url("./assets/css.jpg");
}

.panel.html {
    z-index: auto;
    background-image: none;
    background-image: url("./assets/html.png");
}

.gradient-text {
    background: linear-gradient(90deg, #6A0DAD, #FF6F61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-article-on-dev-to {
    padding-top: 96px;
    width: 87.5%;
    margin: auto;
    padding-bottom: 32px;
}

.section-article-on-dev-to h2 {
    margin-bottom: 24px;
    margin-top: 0;
}

.articles-on-devto-list__item {
    position: relative;
    text-decoration: none;
}

.articles-on-devto-list__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.articles-on-devto-list__title {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s linear;
}

.articles-on-devto-list__title:hover {
    text-decoration: underline;
}


.mission-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.mission-section > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mission-section > h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    text-align: center;
}


.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.anime-txt {
    pointer-events: none;
    opacity: 0;
    transform: translateY(25px);
    transition: transform 500ms cubic-bezier(0,0,0.5,1), opacity 500ms cubic-bezier(0,0,0.5,1), visibility 500ms cubic-bezier(0,0,0.5,1);
}
