.app-aside {
    display: flex;
}

.home__soft-skills {
    text-align: start;
}

.app_footer {
    background-color: var(--aside-bg);
}

.home__title-container {
    display: flex;
}

.page-not-found__description {
    font-size: 2rem;
}