// =================
// Colors
// =================
$white: #FFF;
$black: #000;
$yellow: #FFA323;
$red: #F24472;
$blue: #03A6A6;



// =================
// Fonts
// =================
$font-size-default: 16px;
