// =================
// Colors
// =================
$white: #fff;
$black: #000;
$yellow: #ffa323;
$red: #f24472;
$blue: #03a6a6;


// =================
// Fonts
// =================
$font-size-default: 16px;
